{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <h2 class="h2 text-xs-center">{% trans "Simplify your link!" %}</h2>
    <form method="POST" actio="">
    {% csrf_token %}
    {% for field in form %}
        <div class="row">
            <div class="col-xl-6 col-lm-6 col-md-8 col-xs-12">
                <div class="form-group">
                    <label>{% trans "Enter long url to make it simpler" %}</label>
                    {{ field }}
                    <span class="text-muted">{{ field.help_text }}</span>
                    {% if field.errors %}
                    <span class="text-danger">{{ field.errors|first }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success pull-left">{% trans "Short it" %}</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function(){
           $('input').addClass('form-control');
        });
    </script>
{% endblock %}